@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
</head>
<body style="background-color:antiquewhite;">

    <div class="text-center">
</body>
</html>
    <h1 class="display-1">KhumaloCraft</h1>

</div>
<br />
<p1>
    <i>Crafted with passion, driven by innovation—Welcome to KhumaloCraft Emporium<i></i>
</p1>
<br />
<br />
<img src="https://th.bing.com/th/id/OIG1.UWqXMd0hTh3MnvD4.OGV?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Alternate Text" width="400" hieght="450" />
<img src="https://th.bing.com/th/id/OIG2.OLGVRYgg.XOQq785KTZ2?pid=ImgGn" alt="Alternate Text" width=" 300" hieght="450" />
<img src="https://th.bing.com/th/id/OIG4.mzuLP5zzeg.Zt8XOUrW7?pid=ImgGn" alt="Alternate Text" width="400" hieght="450" />


